


.navbar{
  background-color:#2c3e50 ;
  padding: 20px 0 ;
}

#Home{
  background-color: #1abc9c;
  min-height: 100vh;
}

#Footer{
   background-color:#2c3e50 ;

}

#About{
  background-color: #1abc9c;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
}


.line {
  width: 80px;
  height: 4px;
  background-color: white;
  border-radius: 3px;
}
.lineContact {
  width: 80px;
  height: 4px;
  background-color:#2c3e50;
  border-radius: 3px;
}

#Contact{
  background-color: white;
  min-height: 100vh;
  color: #2c3e50;
  font-size: 40px;
}
/* #Portfolio{
  background-color: white;
  min-height: 100vh;
  color: #2c3e50;
  font-size: 40px;
}

.portfolio-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
} */






