


.navbar{
  background-color:#2c3e50 ;
  padding: 20px 0 ;
}

.active {
  background-color: rgb(26, 188, 156);
  color: white !important;
  padding: 8px 14px;
  border-radius: 8px;
  transition: 0.3s;
  box-shadow: 0 3px 8px rgba(26, 188, 156, 0.553);
}

#Home{
  background-color: #1abc9c;
  min-height: 100vh;
}

#Footer{
   background-color:#2c3e50 ;

}

#About{
  background-color: #1abc9c;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
}


.line {
  width: 80px;
  height: 4px;
  background-color: white;
  border-radius: 3px;
}
.lineContact {
  width: 80px;
  height: 4px;
  background-color:#2c3e50;
  border-radius: 3px;
}

#Contact{
  background-color: white;
  min-height: 100vh;
  color: #2c3e50;
  font-size: 40px;
}

#NotFound {
  background-color: #04305ca5;
}






