.portfolio-card {
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
}

.portfolio-card img {
  width: 100%;
  transition: transform 0.4s ease;
}

.portfolio-card .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(26, 188, 156, 0.9);
  opacity: 0;
  transition: opacity 0.4s ease;
}

.portfolio-card:hover img {
  transform: scale(1.1);
}

.portfolio-card:hover .overlay {
  opacity: 1;
}
.line {
  width: 80px;
  height: 4px;
  background-color: white;
  border-radius: 3px;
}
.lineContact {
  width: 80px;
  height: 4px;
  background-color:#2c3e50;
  border-radius: 3px;
}